<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <!--連線字串-新模組用-->
    <!--<add name="ICCSystemContext" connectionString="Data Source=10.10.211.41\SQL2016;Initial Catalog=Kaohsiung_OPPIP;Persist Security Info=True;User ID=sa;password=7o598966" providerName="System.Data.SqlClient" />-->
    <!--<add name="ICCSystemContext" connectionString="Data Source=10.10.211.41\SQL2016;Initial Catalog=(新版底層)IMSystem_V2;Persist Security Info=True;User ID=sa;password=7o598966" providerName="System.Data.SqlClient" />-->
     <add name="ICCSystemContext" connectionString="Data Source=DESKTOP-944JJ21\KOREA;Initial Catalog=OPPIP2023;User ID=sa;Password=Root2021;" providerName="System.Data.SqlClient" />
    <!--<add name="ICCSystemContext" connectionString="Data Source=LAPTOP-JR28DKR0\SQLEXPRESS;Initial Catalog=OPPIP;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />-->
    <!--Server=127.0.0.1;Database=OPPIP;Integrated Security=false;User ID=demo;Password=alltop2398001;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;-->
  </connectionStrings>
  <appSettings>
    <!-- 寄信功能會用到的 SMTP 相關設定:測試-->
    <add key="SMTP_IsActive" value="true" />
    <add key="SMTP_Server" value="smtp.gmail.com" />
    <add key="SMTP_Port" value="587" />
    <add key="SMTP_Account" value="zacxd7405@gmail.com" />
    <add key="SMTP_Password" value="byhagvjcqyskxsyc" />
    <add key="SMTP_Sender" value="sparkhsieh@iscom.com.tw" />
    <add key="SMTP_displayName" value="高雄市政府農業局植物防疫平台" />
    <add key="SMTP_SendOrNot" value="true" />

    <!--寄信排程設定-->
    <add key="DailySend" value="0 52 16 * * ?" />
    <add key="WeekSend" value="0 54 16 ? * THU" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--偵錯模式 true:不用檢查帳號密碼 false:非偵錯 要檢查帳號密碼-->
    <add key="Debug_Mode" value="false" />
    <!--偵錯模式 true:不用檢查帳號密碼 false:非偵錯 要檢查帳號密碼-->
    <add key="SystemName" value="植物醫師診斷系統暨作物病蟲害預警系統" />
    <!-- [Web] 網域身分AD驗證IP  參考 \相關文件\AD驗證機制說明.txt-->
    <add key="LoginCheckADIP" value="192.168.1.3" />
    <!-- 使用者 system 的預設密碼 -->
    <add key="DefaultPwd" value="Aa1234@$" />

    <!-- 前台網址 -->
    <add key="Front_HostName" value="http://localhost:53319" />
    <!-- 值醫逾期次數上限 -->
    <add key="PlantDoctor_Reserve_Expired_Times_Limit" value="3" />
    <!-- 停權天數 -->
    <add key="Suspension_Days" value="30" />
    <!-- 使用 TGOS 或 ArcGIS 或 Google Map -->
    <add key="Which_MAP" value="TGOS" />
    <!-- Google Map 地圖API Key -->
    <add key="MapApiKey" value="AIzaSyDdqQMJIZqG4gFDOfxPkRssxFBPRt_lg_o" />
    <!-- TGOS 圖台服務 全國門牌位置比對服務 -->
    <add key="TGOS_Geocoding_APPID" value="a+Dmitxyg9+sfuqJEmjBUXvinh2rewJj7qVOxsZBPWDtX8vMRjhmmw==" />
    <add key="TGOS_Geocoding_APIKEY" value="cGEErDNy5yM+0u7x1r+mjNNXaL9xwf/J21I6gUs488AS7oygxq/Kpu4ohZRv1qAIwU3ybbJh5bw/zhvSzcs2kOpkrVKQX6pq+fUiVGMVICxY16BlJ3HQh4whs/+38aGMh+02+L2oWEBtGGd1rfnPhiAZ7EO1TK1TXBrpzBs4nRN4t3rM590xYQMn+j2a42shiSPDR2lv69yLDvXl1Ri3uZVcTMJUbfSYMr8dOOImhjAWtZ8WmZTuv0Pce/jCIVxVfNqNDYlmpACuZd9Hw8MW5bCSYslHET1HSsr53tA4SSjovYggQJoVMyjeSci9A/Qv7LzXUHOBalDOh1CFQ41DFxoF0IRl0LWkI4nnUtyqhhRcHCpufi7HVQ0iJxNmJl5FtEo+UnY/pWo26BZA71+Qu1uTbbd+vPLicONy3QFi7JIS6/TcRAEiGxNcEMfKaDmLfzQiL7Rs5sQ=" />
    <add key="TGOS_QueryAddr_APPID" value="a+Dmitxyg9+sfuqJEmjBUXvinh2rewJj7qVOxsZBPWDtX8vMRjhmmw==" />
    <add key="TGOS_QueryAddr_APIKEY" value="cGEErDNy5yM+0u7x1r+mjNNXaL9xwf/J21I6gUs488AS7oygxq/Kpu4ohZRv1qAIwU3ybbJh5bw/zhvSzcs2kOpkrVKQX6pq+fUiVGMVICxY16BlJ3HQh4whs/+38aGMh+02+L2oWEBtGGd1rfnPhiAZ7EO1TK1TXBrpzBs4nRN4t3rM590xYQMn+j2a42shiSPDR2lv69yLDvXl1Ri3uZVcTMJUbfSYMr8dOOImhjAWtZ8WmZTuv0Pce/jCIVxVfNqNDYlmpACuZd9Hw8MW5bCSYslHET1HSsr53tA4SSjovYggQJoVMyjeSci9A/Qv7LzXUHOBalDOh1CFQ41DFxoF0IRl0LWkI4nnUtyqhhRcHCpufi7HVQ0iJxNmJl5FtEo+UnY/pWo26BZA71+Qu1uTbbd+vPLicONy3QFi7JIS6/TcRAEiGxNcEMfKaDmLfzQiL7Rs5sQ=" />

    <add key="_ChannelAccessToken" value="cXSsf/nMd4LxhPEhBEA63jSsbqcCO5vGgK5lJ++LXc1UhJcVoxO+fAVNTdGLQeU4eV7PROn5e50nOmGHsJmdXQGFYFDuBVu8J8nRDFO27q7EBZfyng324z9ltKtE/aTooaUbkjzAGsjG63ZSUbb5TwdB04t89/1O/w1cDnyilFU=" />
    <!-- 前台網址 -->
    <add key="Backend_HostName" value="http://test.christophe.tw" />
    
    <!-- ArcGIS(需收費) -->
    <add key="ArcGIS_APIKEY" value="BzmJ08aihUoMuT09zM-YzOzN0CkmVnPrzsXnddGhVcSpZ0B0ac_ZxIWYACXzyde1a6VrAle2qXmK1p-7RIhHCcMbaGtVVsCEH15X5ucKcLWEmhHyp6PVsbBirVWpr616SsyStsrcQaurhAJZQt3CmA" />

    <!--啟用維護中-->
    <add key="DownForMaintenance" value="false" />
    
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="60"></sessionState><!--20220723-->
    <!--錯誤導頁設定 mode="RemoteOnly|On|Off"
    RemoteOnly:本地端會顯示錯誤訊息,但是外部連進來不顯示
    On:一率顯示
    Off:不顯示,這樣會讓人看到錯誤訊息 產生資安漏洞
    -->
    <customErrors defaultRedirect="~/500.html">
      <!--決定各種錯誤代碼的導頁-->
      <error statusCode="403" redirect="~/403.html" />
      <error statusCode="404" redirect="~/404.html" />
      <error statusCode="500" redirect="~/500.html" />
    </customErrors>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7" maxRequestLength="1024000" executionTimeout="300" />
    <!-- 2022-2-20 Start-->
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
    <!-- 2022-2-20 End-->
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <remove name="X-Powered-By" />
        <!-- 2022-3-4 update Start-->
        <add name="Content-Security-Policy" value="default-src 'self' www.google-analytics.com *.google.com *.googleapis.com cdn.jsdelivr.net *.facebook.net *.fontawesome.com fonts.gstatic.com cdnjs.cloudflare.com  data:;frame-ancestors 'self' *.google.com;frame-src 'self' *.google.com *.facebook.net www.youtube.com;style-src 'self' 'unsafe-inline' cdn.jsdelivr.net *.google.com *.facebook.net *.googleapis.com *.fontawesome.com fonts.gstatic.com cdnjs.cloudflare.com;script-src 'self' 'unsafe-inline' 'unsafe-eval' cdn.ckeditor.com *.github.io *.fontawesome.com cdn.jsdelivr.net fonts.gstatic.com cdnjs.cloudflare.com *.google.com *.facebook.net www.gstatic.com www.google-analytics.com;img-src 'self' data: wmts.nlsc.gov.tw *.tile.openstreetmap.org  *.googleapis.com" />
        <!-- 2022-3-4 End-->
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options.ConfigurationExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.1.0" newVersion="2.13.1.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.1.0" newVersion="2.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>