<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 寄信功能會用到的 SMTP 相關設定:測試-->
  <add key="SMTP_IsActive" value="true"/>
  <add key="SMTP_Server" value="smtp.gmail.com" />
  <add key="SMTP_Port" value="587"/>
  <add key="SMTP_Account" value="zacxd7405@gmail.com"/>
  <add key="SMTP_Password" value="byhagvjcqyskxsyc"/>
  <add key="SMTP_Sender" value="sparkhsieh@iscom.com.tw"/>
  <add key="SMTP_displayName" value="高雄市政府農業局植物防疫平台"/>
  <add key="SMTP_SendOrNot" value="true"/>
    
  <!--寄信排程設定-->
  <add key="DailySend" value="0 52 16 * * ?"/>
  <add key="WeekSend" value="0 54 16 ? * THU"/>
</appSettings>