
@{
    ViewBag.Title = "Sitemaps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Seq {
        background-color: #f28159;
        margin-right: 2rem;
        padding: .75rem 1.5rem .75rem 1.5rem;
        color: white;
        border-radius: .5rem;
    }

    .link-text {
        cursor: pointer;
    }

    .blocks {
        display:grid;
    }

    .td-10vh > tbody > tr td {
        height:10vh;
    }

    table > tbody > tr td h3 {
        margin-bottom:2rem;
    }
</style>

<div class="s-menu">
    <div class="container">
        <ul>
            <li><a href="~/Home/Introduce">平台簡介</a></li>
            <li><a href="~/Home/News">最新消息</a></li>
            <li><a href="~/Home/Links">相關網站</a></li>
            <li><a href="~/Home/Search">全站搜尋</a></li>
            <li><a href="~/Home/Sitemaps">網站導覽</a></li>
            <li><a href="~/Home/QA">常見問答</a></li>
            <li><a href="~/Home/DoctorDailyJob">植醫日常</a></li>
        </ul>
    </div>
</div>

<section class="content bg-img">
    <div class="con-box">
        <div class="container">
            <div class="con-head">
                <div class="title d-flex justify-content-between pb-0 align-items-end">
                    <h3>
                        <span class="line">網站導覽</span>
                    </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Home/Index">首頁</a></li>
                            <li class="breadcrumb-item active" aria-current="page">網站導覽</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="con-body">
                <div class="card">
                    <div class="card-body">
                        <h5 style="font-weight:bolder">本網站提供農民朋友於「線上植物防疫平台」進行即時防治措施，提供農友進行作物病蟲害即時求診管道。</h5>

                        <h3 class="mt-4" style="border-bottom:1px black solid">01 首頁</h3>
                        <table class="mt-4 td-10vh" style="width:100%">
                            <tr>
                                <td style="width:50%">
                                    <h3>
                                        <span class="Seq" style="padding-right:1.75rem">1－1</span>
                                        <span class="link-text" onclick="location.href='/Home/Introduce'">平台簡介</span>
                                    </h3>
                                </td>
                                <td style="width:50%">
                                    <h3>
                                        <span class="Seq">1－2</span>
                                        <span class="link-text" onclick="location.href='/Home/News'">最新消息</span>
                                    </h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        <span class="Seq">1－3</span>
                                        <span class="link-text" onclick="location.href='/Home/Links'">相關網站</span>
                                    </h3>
                                </td>
                                <td>
                                    <h3>
                                        <span class="Seq">1－4</span>
                                        <span class="link-text" onclick="location.href='/Home/Search'">全站搜尋</span>
                                    </h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        <span class="Seq">1－5</span>
                                        <span class="link-text" onclick="location.href='/Home/Sitemaps'">網站導覽</span>
                                    </h3>
                                </td>
                                <td>
                                    <h3>
                                        <span class="Seq">1－6</span>
                                        <span class="link-text" onclick="location.href='/Home/QA'">常見問答</span>
                                    </h3>
                                </td>
                                <td>
                                    <h3>
                                        <span class="Seq">1－6</span>
                                        <span class="link-text" onclick="location.href='/Home/DoctorDailyJob'">植醫日常</span>
                                    </h3>
                                </td>
                            </tr>
                        </table>

                        <h3 class="mt-4" style="border-bottom:1px black solid">02 會員專區</h3>

                        <table class="mt-4 td-10vh" style="width:100%">
                            <tr>
                                <td style="width:50%">
                                    <h3>
                                        <span class="Seq">2－1</span>
                                        <span class="link-text" onclick="location.href='/Member/SignUp'">會員註冊</span>
                                    </h3>
                                </td>
                                <td style="width:50%">
                                    <h3>
                                        <span class="Seq" style="padding-right:1.25rem">2－2</span>
                                        <span class="link-text" onclick="location.href='/PlantDoctor/Introduce'">植醫掛號</span>
                                    </h3>
                                </td>
                            </tr>
                        </table>

                        <h3 class="mt-4" style="border-bottom:1px black solid">03 植物防疫</h3>

                        <table class="mt-4 td-10vh" style="width:100%">
                            <tr>
                                <td style="width:50%">
                                    <h3>
                                        <span class="Seq">3－1</span>
                                        <span class="link-text" onclick="location.href='/DiseasePrevention/PreventList'">病蟲害防治</span>
                                    </h3>
                                </td>
                                <td style="width:50%">
                                    <h3>
                                        <span class="Seq" style="padding-right:1.25rem">3－2</span>
                                        <span class="link-text" onclick="location.href='/DiseasePrevention/Map'">農藥販賣業者地圖</span>
                                    </h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        <span class="Seq" style="padding-right:1.25rem">3－3</span>
                                        <span class="link-text" onclick="location.href='/DiseasePrevention/Dashboard'">即時動態儀表板</span>
                                    </h3>
                                </td>
                                <td>
                                    <h3>
                                        <span class="Seq" style="padding-right:1.25rem">3－4</span>
                                        <span class="link-text" onclick="location.href='/DiseasePrevention/PesticidesInfo'">農藥資訊查詢</span>
                                    </h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        <span class="Seq" style="padding-right:1.25rem">3－5</span>
                                        <span class="link-text" onclick="location.href='/Event/AllEvent'">活動資訊</span>
                                    </h3>
                                </td>
                                <td></td>
                            </tr>
                        </table>

                        <h3 class="mt-4" style="border-bottom:1px black solid">04 疫情資訊</h3>

                        <table class="mt-4 td-10vh" style="width:100%">
                            <tr>
                                <td>
                                    <h3>
                                        <span class="Seq">4－1</span>
                                        <span class="link-text" onclick="location.href='/PreventionInfo/Detail'">疫情預警</span>
                                    </h3>
                                </td>
                                <td></td>
                            </tr>
                        </table>

                        <h3 class="mt-4" style="border-bottom:1px black solid">05 會員田區管理</h3>

                        <table class="mt-4 td-10vh" style="width:100%">
                            <tr>
                                <td style="width:50%">
                                    <h3>
                                        <span class="Seq">5－1</span>
                                        <span class="link-text" onclick="location.href='/Member/Manage'">個人資料管理</span>
                                    </h3>
                                </td>
                                <td style="width:50%">
                                    <h3>
                                        <span class="Seq" style="padding-right:1.25rem">5－2</span>
                                        <span class="link-text" onclick="location.href='/PlantDoctor/RecordList'">植醫輔導紀錄</span>
                                    </h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        <span class="Seq" style="padding-right:1.25rem">5－3</span>
                                        <span class="link-text" onclick="location.href='/Member/InventoryList'">資材使用狀況</span>
                                    </h3>
                                </td>
                                <td>
                                    <h3>
                                        <span class="Seq" style="padding-right:1.25rem">5－4</span>
                                        <span class="link-text" onclick="location.href='/Member/Notify'">疫情資訊訂閱</span>
                                    </h3>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="mt-4" style="text-align:center">
                    <button type="button" class="btn btn-primary" onclick="window.history.back()"><i class="fas fa-hand-point-left mr-2"></i>回上一頁</button>
                </div>
            </div>
        </div>
    </div>

</section>