@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>錯誤</title>
</head>
<body>
    <hgroup>
        <h2>
            很抱歉!頁面載入發生錯誤,請按此<a href="#" onclick="window.history.back()">返回上一頁</a>
        </h2>
    </hgroup>
</body>
</html>
